* {
    margin: 0;
    padding: 0;
}

html {
    width: 100% !important;
    height: 100% !important;
    overflow: hidden !important;
    background: #0a3042;
    background: linear-gradient(45deg, #0a3042 10%, #476471 100%); 
}

body {
    margin: 0 !important;
    padding: 0 !important;
}

.centralizes-content{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}